# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:root@localhost:5432/magenta_tigers"

# NextAuth.js setup.
NEXTAUTH_SECRET=0123456789abcdefghijklmnopqrstuv
NEXTAUTH_URL="http://localhost:3000"

# GitHub OAuth credentials.
GITHUB_ID="83d1ad000feb058b31af"
GITHUB_SECRET="a9dc5b481a3d2e5e339d301335edc617d94af37d"
